    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Navigational Browser</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          -->
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="/tools">RDF Tools</a></li>-->
          <!--<li><a href="/sparql">SPARQL Query Form</a></li>-->
          <li><a href="#">SPARQL Query Form</a></li>          
          <!--<li><a href="/signin">Sign in</a></li>-->
            <!--
            <li><a href="navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          -->
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
      <div id="breadcrumb" class="col-md-12">breadcrumb1 &raquo;  breadcrumb2 &raquo; breadcrumb3</div>
    </div>
    <div class="jumbotron">
      <h2 class="h2 col-md-6">Navigational</h2>
      <p></p>
      <!-- Navigational is loaded here -->       
      <div id="infovis" class="draggable-parent">
      <div id="spinner" class="text-center"> 
        <img src="/images/spinner.gif" height="66" width="66" style="width:66px;height:66px;" title="loading"/>
      </div>
      </div>    
      <p></p>


    <p id="form">
      <a class="btn btn-success" id="button">Reset View</a>
      <a class="btn btn-primary" target="_blank" href="https://github.com/ieru/kosa">Go to Documentation &raquo;</a>
    </p>
  </div>
<div id="log" style="left: 483px;"></div>
<div id="right-container" style="visibility:hidden;">

<h4>Tree Orientation</h4>
<table>
    <tbody><tr>
        <td>
            <label for="r-left">Left </label>
        </td>
        <td>
            <input type="radio" id="r-left" name="orientation"  value="left">
        </td>
    </tr>
    <tr>
         <td>
            <label for="r-top">Top </label>
         </td>
         <td>
            <input type="radio" id="r-top" name="orientation" value="top">
         </td>
    </tr>
    <tr>
         <td>
            <label for="r-bottom">Bottom </label>
          </td>
          <td>
            <input type="radio" id="r-bottom" name="orientation" checked="checked" value="bottom">
          </td>
    </tr>
    <tr>
          <td>
            <label for="r-right">Right </label>
          </td> 
          <td> 
           <input type="radio" id="r-right" name="orientation" value="right">
          </td>
    </tr>
</tbody></table>

<h4>Selection Mode</h4>
<table>
    <tbody><tr>
        <td>
            <label for="s-normal">Normal </label>
        </td>
        <td>
            <input type="radio" id="s-normal" name="selection" checked="checked" value="normal">
        </td>
    </tr>
    <tr>
         <td>
            <label for="s-root">Set as Root </label>
         </td>
         <td>
            <input type="radio" id="s-root" name="selection" value="root">
         </td>
    </tr>
</tbody></table>

</div>
</div> <!-- /container -->
