    <!-- Fixed navbar -->
    <div id="home-view" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Navigational Browser</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          -->
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="/tools">RDF Tools</a></li>-->
          <!--<li><a href="/sparql">SPARQL Query Form</a></li>-->
          <li><a href="#">SPARQL Query Form</a></li>          
          <!--<li><a href="/signin">Sign in</a></li>-->
            <!--
            <li><a href="navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          -->
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
	<div id="breadcrumb-container"></div>    
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8">
          <span style="font-size:25px; background-color:#393939;" class="label label-default">Navigational</span><br><br>
          <h4 class="h4 col-md-12 text-info" >Related terms</h4>
          <div class="col-md-10">
	    <div id="related-container"></div>
        </div>
      </div>
      <div style="margin-top:20px;" class="col-md-4">
        <p style="font-size:15px;">Search</p>
        <input type="text" class="bigdrop select2-offscreen" id="selector" style="width:200px; margin-top:-40px;" value="16340" tabindex="-1" placeholder="hola">
      </div>



      <br>


      <div class="col-md-1 col-md-offset-2 log-area"><span class="label label-primary fade out" id="log"></span></div>

    </div>
    
    
    <!-- Navigational is loaded here -->       
    <div id="infovis" class="draggable-parent">
      <div id="spinner" class="text-center"> 
        <img src="/images/spinner.gif" height="66" width="66" style="width:66px;height:66px;" title="loading"/>
      </div>
    </div>    

    <p></p>


    <p id="form">
      <a class="btn btn-primary" id="button">Reset View</a>
      <a class="btn btn-default" target="_blank" href="https://github.com/ieru/kosa">Go to Documentation &raquo;</a>
    </p>
  </div>


</div>
</div> <!-- /container -->
