{{#if related}}<h4 class="h4 col-md-12 text-info marlefn15" >Related terms</h4>{{/if}}
{{#related}}
    <button class="btn btn-default btn-xs related-click" type="button" data-id="{{id}}">
        {{name}}
    </button>
{{/related}}
