    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Navigational Browser</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
           <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">RDF Import</a></li>
            <li><a href="/sparql">SPARQL API query form</a></li>
            <li><a href="/signin">Sign in</a></li>
            <!--
            <li><a href="navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
            -->
          </ul>
         
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    
     <!--
     <div id="result" class="bs-docs-section">
      <div class="bs-callout bs-callout-info">
      <h4>Import linked-data</h4>
      <p>
      These formats ar available: <br>
      <br>
      N-Triples<br>
      Turtle<br>
      RDF/XML<br>
      RDFa <br>
      RDF/JSON<br> 
      TriX<br>
      <br>
      </p>
      </div>
      -->
      <!--
      <form class="bs-example" role="form" method="post" enctype="multipart/form-data" action="/upload">
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="file" id="file">
        <p class="help-block">Select the file you want to import</p>
      </div>
      <button type="submit" class="btn btn-primary" value="upload">Submit</button>
      </form>
      -->
     </div>       


    <!-- </div> /container

    <script src="/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    -->